* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.reset-container {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf9f5;
}

.reset-form {
    background-color: #fff;
    padding: 30px;
    width : 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.reset-form h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.reset-form p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 40px 12px 36px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.eye-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
    pointer-events: none;
    color: #888;
}

.eye-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
}
.eye-toggle svg {
    font-size: 16px;
    color: #333;
}

.reset-form button {
    width: 100%;
    padding:12px;
    margin-top: 10px;
    border-color: #6b8f71;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.reset-form button:hover {
    background-color: #56745a;
}
  
.reset-form a {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    color: #52718b;
    text-decoration: none;
}
  
.reset-form a:hover {
    text-decoration: underline;
}
  
.error-message {
    color: #c0392b;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: left;
}
  
.success-message {
    color: green;
    font-size: 13px;
    margin-top: 10px;
}